<!-- menu -->

<div ng-controller="MainController as vm">
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="#/user">User</a>
      <a class="blog-nav-item" href="#/notifcation">Notifcation <span class="badge">10</span></a>
       <a class="blog-nav-item " href="#/dashboard">Log Out</a>
    </nav>
  </div>
</div>
<div class="container">

	
		<h1>{{vm.title}}</h1>
		<h4>{{vm.taskname}}</h4>
		<!-- blogpost form -->

	<ng-form class="form-horizontal" role="form">
	    <div class="form-group">
	      <label class="control-label col-sm-2 " for="">{{vm.id}}:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" id="" placeholder="" ng-model="id">
	      </div>
	    </div>

	    <div class="form-group">
	      <label class="control-label col-sm-2 text-left" for="">{{vm.owener}}:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" id="" placeholder="" ng-model="owener">
	      </div>
	    </div>

	    <div class="form-group">
	      <label class="control-label col-sm-2" for="">{{vm.description}}:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" id="" placeholder="" ng-model="description">
	      </div>
	    </div>

	    <div class="form-group">
	      <label class="control-label col-sm-2" for="">{{vm.dependancy}}:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" id="" placeholder="" ng-model="dependancy">
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="">{{vm.due}}:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" id="" placeholder="" ng-model="due">
	      </div>
	    </div>

	    <div class="form-group">        
	      <div class="col-sm-offset-2 col-sm-10">
	        <button type="submit" class="btn btn-default" ng-click="vm.addTask()">Submit</button>
	      </div>
	    </div>
  	</ng-form>

	</div>
</div>



<hr>
<p><strong>Info:</strong> User should POST the tasks</p>

